{
    "presets": ["next/babel"],
    "plugins": [
      [
        "module-resolver",
        {
          "root": ["."],
          "alias": {
            "@store": "./src/store",
            "@components": "./src/components",
            "@graphql": "./src/graphql",
            "@utils": "./src/utils",
            "@styles": "./public/css",
            "@images": "./public/images"
          }
        }
      ]
    ]
  }