$background: rgb(255, 255, 255);

._consultant-container {
  padding: 15px;
  flex: 22% 0 0;
}

@media only screen and (max-width: 1200px) {
  ._consultant-container {
    flex: 22% 0 0;
  }
}

@media screen and (max-width: 1090px) {
  ._consultant-container {
    flex: 31% 1 1;
  }
}

._consultant-table {
  background: $background;
  list-style: none;
  text-align: center;
  max-width: 500px;
  box-shadow: 0 0 24px 6px rgba(30, 42, 50, 0.12);
}

@media only screen and (max-width: 840px) {
  ._consultant-table {
    min-height: 0px;
  }
}

._consultant-table.active {
  margin: auto;
  border-radius: 12px;
}

._consultant-table li {
  list-style: none;
}

._consultant-table {
  font-size: 0.9rem;
  font-weight: 100;
}

._consultant-table h3 {
  padding: 0 30px;
}

.headline {
  padding-top: 25px;
  padding-bottom: 20px;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}

.headline img {
  width: 150px;
  height: 150px;
}

@media only screen and (min-width: 1450px) {
  .headline img {
    width: 160px;
    height: 160px;
  }
}

.info {
  padding-bottom: 10px;
  font-weight: 300;
  font-size: 13px;
}

.info h3 {
  color: rgb(0, 0, 0);
}

.features {
  padding: 0 30px;
  font-size: 1rem;
  font-weight: 100;
  padding-bottom: 25px;
  color: rgb(117, 117, 117);
  text-align: justify;
  text-justify: inter-word;
}
