@use "custom.values.scss" as cv;

._thc-story-section {
  position: relative;
  padding: 50px 5%;
  margin-bottom: 0;
  background: 0 0;
  color: cv.$blue-color;
}
@media only screen and (min-width: 550px) and (max-width: 949px),
  only screen and (min-width: 950px) and (max-width: 1449px),
  only screen and (min-width: 1450px) {
  ._thc-story-section {
    padding: 30px 45px;
  }
}

._background-space {
  z-index: 0;
  position: absolute;
  top: -4.1rem;
  left: 0;
  right: 0;
  bottom: 0;
  overflow: hidden;
}

@media only screen and (min-width: 1025px) and (max-width: 1449px) {
  ._background-space {
    top: -6rem;
  }
}

@media only screen and (min-width: 950px) and (max-width: 1024px) {
  ._background-space {
    top: -5.3rem;
  }
}

@media only screen and (min-width: 1450px) {
  ._background-space {
    top: -12rem;
  }
}

._thc-card ._background-space ._background-img-wrapper {
  bottom: 0;
}

._thc-card ._background-img-wrapper {
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  height: 44rem;
}

@media only screen and (max-width: 310px) {
  ._thc-card ._background-img-wrapper {
    height: 100%;
  }
}

@media only screen and (min-width: 480px) and (max-width: 530px) {
  ._thc-card ._background-img-wrapper {
    height: 43rem;
  }
}

@media only screen and (min-width: 530px) and (max-width: 549px) {
  ._thc-card ._background-img-wrapper {
    height: 43rem;
  }
}

@media only screen and (min-width: 550px) and (max-width: 799px) {
  ._thc-card ._background-img-wrapper {
    height: 54rem;
  }
}

@media only screen and (min-width: 800px) and (max-width: 949px) {
  ._thc-card ._background-img-wrapper {
    height: 48rem;
  }
}

@media only screen and (min-width: 950px) and (max-width: 1030px) {
  ._thc-card ._background-img-wrapper {
    height: 65rem;
  }
}

@media only screen and (min-width: 1031px) and (max-width: 1449px) {
  ._thc-card ._background-img-wrapper {
    height: 59rem;
  }
}

@media only screen and (min-width: 1450px) {
  ._thc-card ._background-img-wrapper {
    height: 68rem;
  }
}

@media only screen and (min-width: 400px) and (max-width: 549px),
  only screen and (min-width: 350px) and (max-width: 399px),
  only screen and (max-width: 349px) {
  ._thc-card ._background-img-wrapper {
    bottom: auto;
  }
}

._thc-card ._background-img {
  background-image: url("../images/background/Fondo-M.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  width: 100%;
  height: 100%;
  -webkit-transform: none;
  -moz-transform: none;
  -ms-transform: none;
  -o-transform: none;
  transform: none;
}

@media only screen and (max-width: 310px) {
  ._thc-card ._background-img {
    background-color: rgb(196, 225, 250);
    background-image: none;
  }
}

@media only screen and (min-width: 400px) and (max-width: 549px) {
  ._thc-card ._background-img {
    background-image: url("../images/background/Fondo-M.jpg");
  }
}

@media only screen and (min-width: 550px) and (max-width: 1449px) {
  ._thc-card ._background-img {
    background-image: url("../images/background/Fondo-L.jpg");
  }
}

@media only screen and (min-width: 1450px) and (max-width: 1850px) {
  ._thc-card ._background-img {
    background-image: url("../images/background/Fondo-XL.jpg");
  }
}

@media only screen and (min-width: 1851px) {
  ._thc-card ._background-img {
    background-image: url("../images/background/Fondo-XXL.jpg");
  }
}

._text-space {
  position: relative;
  width: 100%;
  padding-top: 50px;
  padding-bottom: 50px;
  max-width: 1300px;
  margin: 0 auto;
  text-align: center;
  z-index: 1;
}

@media only screen and (min-width: 400px) and (max-width: 549px) {
  ._text-space {
    padding: 30px 0;
  }
}
@media only screen and (min-width: 350px) and (max-width: 399px) {
  ._text-space {
    padding: 15px 0;
  }
}
@media only screen and (max-width: 349px) {
  ._text-space {
    padding: 0;
  }
}

._text-space-subtitle {
  font-size: 1.625rem;
  font-weight: 900;
  letter-spacing: cv.$letter-spacing;
  line-height: 45px;
  font-family: cv.$font-family-r;
}

._text-space-title {
  font-size: 3.125rem;
  margin-bottom: 0.5rem;
}

._text-space-title,
._text-space-subtitle {
  letter-spacing: cv.$letter-spacing;
  line-height: cv.$line-height;
}

._thc-card ._text-space-title {
  font-size: 1.55rem;
}

@media only screen and (min-width: 415px) and (max-width: 549px) {
  ._thc-card ._text-space-title {
    font-size: 1.6rem;
  }
}

@media only screen and (min-width: 550px) and (max-width: 949px) {
  ._thc-card ._text-space-title {
    font-size: 2.725rem;
  }
}

@media only screen and (min-width: 950px) and (max-width: 1449px) {
  ._thc-card ._text-space-title {
    font-size: 3.725rem;
  }
}

@media only screen and (min-width: 1450px) {
  ._thc-card ._text-space-title {
    font-size: 4.6rem;
  }
}

._thc-card ._text-space-subtitle {
  font-size: 1.425rem;
  margin: 1rem auto 0rem auto;
}

@media only screen and (min-width: 415px) and (max-width: 549px) {
  ._thc-card ._text-space-subtitle {
    font-size: 1.425rem;
  }
}

@media only screen and (min-width: 550px) and (max-width: 949px) {
  ._thc-card ._text-space-subtitle {
    font-size: 1.825rem;
  }
}
@media only screen and (min-width: 950px) and (max-width: 1449px),
  only screen and (min-width: 1450px) {
  ._thc-card ._text-space-subtitle {
    font-size: 2.825rem;
  }
}

._content-space {
  position: relative;
  width: 100%;
  padding: 1rem 1rem 50px 1rem;
  max-width: 1300px;
  margin: 0 auto;
  max-width: 1300px;
  text-align: center;
  z-index: 1;
}

@media only screen and (min-width: 400px) and (max-width: 549px) {
  ._content-space {
    padding: 30px 0;
  }
}
@media only screen and (min-width: 350px) and (max-width: 399px) {
  ._content-space {
    padding: 15px 0;
  }
}
@media only screen and (max-width: 349px) {
  ._content-space {
    padding: 0;
  }
}
