// Blue color
$blue-color: #0e3780;

// Orange
// $orange-color: rgba(240, 136, 0, 0.966);

$orange-color: rgb(216, 47, 101);

$lighter-orange-color: #e05983;

// Font Semi Bold
$font-family-sb: "Hurme Semi Bold";

// Font Regular
$font-family-r: "Hurme Regular";

// Font Oblique
$font-family-o: "Hurme Oblique";

// Text
$letter-spacing: 0.3px;

$line-height: 100%;
