._info-img img {
  width: 200px;
  height: 200px;
  max-width: 404px;
}

@media only screen and (min-width: 350px) and (max-width: 550px) {
  ._info-img img {
    width: 240px;
    height: 240px;
  }
}

@media only screen and (min-width: 551px) and (max-width: 780px) {
  ._info-img img {
    width: 284px;
    height: 284px;
  }
}

@media only screen and (min-width: 780px) and (max-width: 870px) {
  ._info-img img {
    width: 200px;
    height: 200px;
  }
}

@media only screen and (min-width: 870px) and (max-width: 1005px) {
  ._info-img img {
    width: 230px;
    height: 230px;
  }
}

@media only screen and (min-width: 1005px) and (max-width: 1155px) {
  ._info-img img {
    width: 274px;
    height: 274px;
  }
}

@media only screen and (min-width: 1155px) and (max-width: 1449px) {
  ._info-img img {
    width: 324px;
    height: 324px;
  }
}

@media only screen and (min-width: 1450px) {
  ._info-img img {
    width: 404px;
    height: 404px;
  }
}

@media only screen and (max-width: 780px) {
  ._info-img {
    text-align: center;
  }
}

@media (min-width: 780px) {
  ._step {
    width: 83.33333333%;
  }
}

._step {
  position: relative;
  min-height: 1px;
  padding-right: 15px;
  padding-left: 15px;
}

._step h3 {
  color: rgb(0, 0, 0);
}

._step p {
  font-size: 1rem;
  color: rgb(117, 117, 117);
  font-weight: 100;
}

.text-center {
  text-align: center;
}
