._text-body p,
._text-body li {
  max-width: 1000px;
  text-align: justify;
  margin: 1.2rem auto;
  font-size: 22px;
  line-height: 24px;
  letter-spacing: 0.44px;
}

._text-body li {
  list-style: circle;
  list-style-position: inside;
}

._text-body a:hover {
  text-decoration: underline;
}

._text-body ._list-style-roman li {
  list-style: lower-roman;
  list-style-position: inside;
}

._text-body ._list-style-letter li {
  list-style: lower-latin;
  list-style-position: inside;
}

._text-body h2 {
  max-width: 1000px;
  text-align: left;
  margin: 1.2rem auto;
  font-size: 24px;
  font-family: "Hurme Semi Bold";
}

._title {
  padding-top: 0px;
}

@media only screen and (min-width: 950px) and (max-width: 1449px) {
  ._title {
    padding-top: 5rem;
  }

  ._text-body p,
  ._text-body li {
    max-width: 800px;
    margin: 1rem auto;
  }

  ._text-body h2 {
    max-width: 800px;
    margin: 1rem auto;
  }
}

@media only screen and (min-width: 550px) and (max-width: 949px) {
  ._title {
    padding-top: 3rem;
    padding-bottom: 0px;
  }

  ._text-body p,
  ._text-body li {
    max-width: 500px;
    font-size: 18px;
  }

  ._text-body h2 {
    max-width: 500px;
    font-size: 20px;
  }
}

@media only screen and (max-width: 550px) {
  ._title {
    padding-top: 3rem;
    padding-bottom: 0px;
  }

  ._text-body p,
  ._text-body li {
    max-width: 400px;
    font-size: 16px;
  }

  ._text-body h2 {
    max-width: 400px;
    font-size: 17px;
  }
}
