// .hero-card.vlv ._background-space ._background-img-wrapper {
//   bottom: 0;
// }

._background-space ._background-img-wrapper {
  bottom: 0;
}

// .hero-card ._background-img-wrapper {
//   position: absolute;
//   top: 0;
//   bottom: 0;
//   right: 0;
//   left: 0;
// }

._background-img-wrapper {
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
}

// @media only screen and (min-width: 400px) and (max-width: 549px),
//   only screen and (min-width: 350px) and (max-width: 399px),
//   only screen and (max-width: 349px) {
//   .hero-card ._background-img-wrapper {
//     bottom: auto;
//   }
// }

@media only screen and (min-width: 400px) and (max-width: 549px),
  only screen and (min-width: 350px) and (max-width: 399px),
  only screen and (max-width: 349px) {
  ._background-img-wrapper {
    bottom: auto;
  }
}

._background-space {
  z-index: 0;
  position: absolute;
  top: -70px;
  left: 0;
  right: 0;
  bottom: 0;
  overflow: hidden;
}
@media only screen and (min-width: 950px) and (max-width: 1449px),
  only screen and (min-width: 1450px) {
  ._background-space {
    top: -180px;
  }
}

// .hero-card ._background-img {
//   width: 100%;
//   height: 100%;
//   -o-object-fit: cover;
//   object-fit: cover;
//   -webkit-transform: scale(1.25) translateY(-10%);
//   -moz-transform: scale(1.25) translateY(-10%);
//   -ms-transform: scale(1.25) translateY(-10%);
//   -o-transform: scale(1.25) translateY(-10%);
//   transform: scale(1.25) translateY(-10%);
// }

._background-img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
  object-fit: cover;
  -webkit-transform: scale(1.25) translateY(-10%);
  -moz-transform: scale(1.25) translateY(-10%);
  -ms-transform: scale(1.25) translateY(-10%);
  -o-transform: scale(1.25) translateY(-10%);
  transform: scale(1.25) translateY(-10%);
}

// @media only screen and (min-width: 400px) and (max-width: 549px),
//   only screen and (min-width: 350px) and (max-width: 399px),
//   only screen and (max-width: 349px) {
//   .hero-card ._background-img {
//     height: auto;
//     -webkit-transform: none;
//     -moz-transform: none;
//     -ms-transform: none;
//     -o-transform: none;
//     transform: none;
//   }
// }

// .hero-card.vlv ._background-img {
//   -webkit-transform: none;
//   -moz-transform: none;
//   -ms-transform: none;
//   -o-transform: none;
//   transform: none;
// }
// @media only screen and (min-width: 550px) and (max-width: 949px) and (orientation: portrait),
//   only screen and (min-width: 400px) and (max-width: 549px),
//   only screen and (min-width: 350px) and (max-width: 399px),
//   only screen and (max-width: 349px) {
//   .hero-card.vlv ._background-img {
//     height: 100%;
//     width: 556px;
//     -o-object-fit: cover;
//     object-fit: cover;
//   }
// }

@media only screen and (min-width: 400px) and (max-width: 549px),
  only screen and (min-width: 350px) and (max-width: 399px),
  only screen and (max-width: 349px) {
  ._background-img {
    height: auto;
    -webkit-transform: none;
    -moz-transform: none;
    -ms-transform: none;
    -o-transform: none;
    transform: none;
  }
}

._background-img {
  -webkit-transform: none;
  -moz-transform: none;
  -ms-transform: none;
  -o-transform: none;
  transform: none;
}
@media only screen and (min-width: 550px) and (max-width: 949px) and (orientation: portrait),
  only screen and (min-width: 400px) and (max-width: 549px),
  only screen and (min-width: 350px) and (max-width: 399px),
  only screen and (max-width: 349px) {
  ._background-img {
    height: 100%;
    width: 556px;
    -o-object-fit: cover;
    object-fit: cover;
  }
}
