@media only screen and (min-width: 950px) and (max-width: 1450px) {
  ._first-screen-text {
    padding-bottom: 360px !important;
  }
}

@media only screen and (min-width: 400px) and (max-width: 549px) {
  ._first-screen-text {
    padding-bottom: 228px !important;
  }
}
@media only screen and (min-width: 350px) and (max-width: 399px) {
  ._first-screen-text {
    padding-bottom: 236px !important;
  }
}
@media only screen and (max-width: 349px) {
  ._first-screen-text {
    padding-bottom: 236px !important;
  }
}

._first-screen-text h1,
._first-screen-text h2 {
  // max-width: 640px;
  margin: 0 6%;
}

// @media only screen and (max-width: 549px) {
//   ._first-screen-text h1,
//   ._first-screen-text h2 {
//     max-width: 467px;
//   }
// }

// @media only screen and (min-width: 550px) and (max-width: 949px) {
//   ._first-screen-text h1,
//   ._first-screen-text h2 {
//     max-width: 774px;
//   }
// }

// @media only screen and (min-width: 950px) {
//   ._first-screen-text h1,
//   ._first-screen-text h2 {
//     max-width: 1100px;
//   }
// }

// @media only screen and (min-width: 1450px) {
//   ._first-screen-text h1 {
//     max-width: 1300px;
//   }

//   ._first-screen-text h2 {
//     max-width: 1100px;
//   }
// }

._first-screen-text {
  position: relative;
  width: 100%;
  padding-bottom: 286px;
  padding-top: 0px;
  max-width: 965px;
  margin: 0 auto;
  text-align: center;
  z-index: 1;
}

@media only screen and (min-width: 1000px) and (max-width: 1449px) {
  ._first-screen-text {
    max-width: 1200px;
  }
}

@media only screen and (min-width: 1450px) {
  ._first-screen-text {
    max-width: 1360px;
  }
}
