._brokers h1 {
  max-width: 640px;
  margin: 0 auto;
  color: #0e3780;
}

@media only screen and (max-width: 549px) {
  ._brokers h1 {
    max-width: 467px;
  }
}

@media only screen and (min-width: 550px) and (max-width: 949px) {
  ._brokers h1 {
    max-width: 774px;
  }
}

@media only screen and (min-width: 950px) {
  ._brokers h1 {
    max-width: 1100px;
  }
}

@media only screen and (min-width: 1450px) {
  ._brokers h1 {
    max-width: 1300px;
  }
}

._consultant-grid {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

@media screen and (max-width: 1000px) {
  ._consultant-grid {
    flex-direction: column;
    align-content: center;
  }
}
