._navbarSpace {
  background-color: transparent;
  -webkit-transition: background-color 0.5s;
  -o-transition: background-color 0.5s;
  -moz-transition: background-color 0.5s;
  transition: background-color 0.5s;
  position: relative;
  max-width: 1920px;
  margin: 0 auto;
  padding-top: 20px;
  width: 100%;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  height: 10rem;
  z-index: 10;
}

._navbar {
  position: relative;
  margin: 0 18.5rem;
  height: 100%;
}

._navbarSpace ._navbar {
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-flow: row nowrap;
  -moz-box-orient: horizontal;
  -moz-box-direction: normal;
  -ms-flex-flow: row nowrap;
  flex-flow: row nowrap;
  -webkit-box-pack: start;
  -webkit-justify-content: flex-start;
  -moz-box-pack: start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  -webkit-box-align: start;
  -webkit-align-items: flex-start;
  -moz-box-align: start;
  -ms-flex-align: start;
  align-items: flex-start;
  padding-top: 0.5rem;
  height: auto;
}

@media only screen and (min-width: 950px) and (max-width: 1449px) {
  ._navbarSpace {
    height: 4rem;
  }
}
@media only screen and (min-width: 550px) and (max-width: 949px),
  only screen and (min-width: 400px) and (max-width: 549px),
  only screen and (min-width: 350px) and (max-width: 399px),
  only screen and (max-width: 349px) {
  ._navbarSpace {
    height: 45px;
  }
}

@media only screen and (min-width: 550px) and (max-width: 949px) {
  ._navbar {
    margin: 0 45px;
  }
}

@media only screen and (min-width: 949px) and (max-width: 1700px) {
  ._navbar {
    margin: 0 10%;
  }
}

@media only screen and (min-width: 400px) and (max-width: 549px),
  only screen and (min-width: 350px) and (max-width: 399px),
  only screen and (max-width: 349px) {
  ._navbar {
    margin: 0 5%;
  }
}

._navbarSpace ._navbar ._thc-logo-navbar {
  width: auto;
  height: 3.313rem;
  padding-top: 0;
}
@media only screen and (min-width: 550px) and (max-width: 949px) {
  ._navbarSpace ._navbar ._thc-logo-navbar {
    width: auto;
    height: 4.25rem;
  }
}
@media only screen and (min-width: 950px) and (max-width: 1449px) {
  ._navbarSpace ._navbar ._thc-logo-navbar {
    width: 12.5rem;
    height: 5.062rem;
  }
}
@media only screen and (min-width: 1450px) {
  ._navbarSpace ._navbar ._thc-logo-navbar {
    width: 12.5rem;
    height: 4.625rem;
  }
}
