// Blue color
$blue-color: #0e3780;

// Pink color
$thc-pink-color: rgb(216, 47, 101);

$thc-light-pink-color: #e05983;

// Font Semi Bold
$font-family-sb: "Poppins Semi Bold";

// Font Regular
$font-family-r: "Poppins Regular";

// Font Oblique
$font-family-o: "Poppins Oblique";

// Text
$letter-spacing: 0px;

$line-height: 100%;
