._footer-space {
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
}

@media (min-width: 768px) {
  ._footer-space {
    width: 750px;
  }
}
@media (min-width: 992px) {
  ._footer-space {
    width: 970px;
  }
}
@media (min-width: 1200px) {
  ._footer-space {
    width: 1300px;
  }
}
