._bancos h1,
._bancos h2 {
  max-width: 640px;
  margin: 0 auto;
}

@media only screen and (max-width: 549px) {
  ._bancos h1,
  ._bancos h2 {
    max-width: 467px;
  }
}

@media only screen and (min-width: 550px) and (max-width: 949px) {
  ._bancos h1,
  ._bancos h2 {
    max-width: 774px;
  }
}

@media only screen and (min-width: 950px) {
  ._bancos h1,
  ._bancos h2 {
    max-width: 1100px;
  }
}

@media only screen and (min-width: 1450px) {
  ._bancos h1 {
    max-width: 1000px;
  }

  ._bancos h2 {
    max-width: 1100px;
  }
}
