._recommendations h1 {
  max-width: 640px;
  margin: 0 auto;
}

@media only screen and (max-width: 549px) {
  ._recommendations h1 {
    max-width: 386px;
  }
}

@media only screen and (min-width: 550px) and (max-width: 949px) {
  ._recommendations h1 {
    max-width: 774px;
  }
}

@media only screen and (min-width: 950px) {
  ._recommendations h1 {
    max-width: 1100px;
  }
}

@media only screen and (min-width: 1450px) {
  ._recommendations h1 {
    max-width: 1300px;
  }
}

._recommendation-grid {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

@media screen and (max-width: 840px) {
  ._recommendation-grid {
    flex-direction: column;
    align-content: center;
  }
}
