._background-space {
  z-index: 0;
  position: absolute;
  top: -4.1rem;
  left: 0;
  right: 0;
  bottom: 0;
  overflow: hidden;
}

@media only screen and (min-width: 1025px) and (max-width: 1449px) {
  ._background-space {
    top: -6rem;
  }
}

@media only screen and (min-width: 950px) and (max-width: 1024px) {
  ._background-space {
    top: -5.3rem;
  }
}

@media only screen and (min-width: 1450px) {
  ._background-space {
    top: -12rem;
  }
}

._background-img {
  background-image: url("../../../public/images/background/Fondo-S.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  width: 100%;
  height: 100%;
  -webkit-transform: none;
  -moz-transform: none;
  -ms-transform: none;
  -o-transform: none;
  transform: none;
}

@media only screen and (min-width: 400px) and (max-width: 720px) {
  ._background-img {
    background-image: url("../../../public/images/background/Fondo-M.jpg");
  }
}

@media only screen and (min-width: 720px) and (max-width: 1449px) {
  ._background-img {
    background-image: url("../../../public/images/background/Fondo-L.jpg");
  }
}

@media only screen and (min-width: 1450px) and (max-width: 1850px) {
  ._background-img {
    background-image: url("../../../public/images/background/Fondo-XL.jpg");
  }
}

@media only screen and (min-width: 1851px) {
  ._background-img {
    background-image: url("../../../public/images/background/Fondo-XXL.jpg");
  }
}
